node_modules
client/dist
.env
*.DS_Store
*.Rhistory
test/.DS_Store
.DS_Store
AliceMQ*
release-builds
.webpack_cache
bundle-report.html
*.gz

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage
.nyc_output