body {
  color: blue;
  background-color: red; 
}

.the-grid {
  display: grid;
  width: 100%;
  height: 1000px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 500 30%;
  grid-template-areas:
    "viz viz viz viz"
    "settings1 settings2 settings3 settings4";
}

.login-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 20%;
  
}
.settings1 {
  background-color: aquamarine;
  grid-area: settings1
}

.settings2 {
  background-color: rgb(87, 223, 177);
  grid-area: settings2;
}

.settings3 {
  background-color: aquamarine;
  grid-area: settings3;
}

.settings4 {
  background-color: rgb(87, 223, 177);
  grid-area: settings4;
}
  
.viz {
  background-color: azure;
  grid-area: viz;
}
/* CSS for initial D3 setup: BELOW */
h1 {
  text-align: center;
}

svg {
  display: block;
  margin: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.controls button {
  display: block;
  margin: 4em auto 4em auto;
  background-color: 'aquawhite';
}
/* CSS for initial D3 setup: ABOVE */
